* {
    box-sizing: border-box;
} 

body {
    background-image: url(webBackground.jpg);
    background-size: stretch;
    display: block;
    position: absolute;
    margin: 2px;
    border: 4px;
    contain: content;
    align-content: stretch;    
    padding: 10px; 
    height: 1370px; 
    width: 1340px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

#socMedTag {
    position: relative;
    bottom: 148px;
    border: 2px;
    width:80px; height: 80px;
    object-fit: contain;
    
}






#headerHome {
    position: relative;
    bottom: 250px;
    flex-direction: row-reverse;
    font-size: 45px;
    text-align: right;
    font-style: italic;
    color: aliceblue;
    border: 2px;
    
}

#thumbGal {
    position: relative;
    top: 90px;
    border: dashed;
    height: 800px;
    width: 1320px;
    outline-style: double solid yellow;
}

#footer {
    position: relative;
    top: 10px;
    height: 35px;
    width: 1320px;
    color: white;    
    text-align: left;
    border: dashed yellow 1px;
}

.row {
    max-width: 150%;
    margin: auto;
    border: 5px;
}

#fourColumn {
    float: right;
    height: 500px;
    width: 300px;
    border: solid yellow 2px;
    column-gap: normal;
}

#thiColumn {
    float: right;
    height: 250px;
    width: 100px;
    border: solid yellow 2px;
    column-gap: 5px;
}

#scrollColumn {
    background-image: url(wood_4440.jpg);
    position: relative;
    overflow-y: scroll;
    bottom: 1340px;
    left: 565px;
    height: 1010px;
    width: 200px;
    border: 2px;
    object-fit: contain;
    
}

.blankColumn {
    float: left;
    height: 450px;
    width: 150px;
    border: solid 6px;
}

#imgOne {
    position: relative;
    float: left;
    height: 240px;
    width: 300px;
    border: 2px;
    object-fit: contain;
       
}
#imgTwo {
    position: relative;
    float: left;
    height: 260px;
    width: 300px;
    border: 2px;
    object-fit: contain;    
}

#imgThree {
    position: relative;
    float: left;
    left: 18px;
    height: 300px;
    width: 520px;
    border:  2px;
    
}

.txtColImp {
    color: rgb(238, 13, 13)
}

.txtColTutor {
    color: rgb(16, 141, 58)
}

.txtColBut {
    color: rgb(214, 203, 214)
}

.txtColObjs {
    color: rgb(55, 36, 136)
}
.txtSty {
    font-style: italic;
    font-weight: 800;
    text-shadow: floralwhite;
    color: yellow;
    font-display: "comic Sans";
}

.boldText {
    font-weight: bolder;
}

.subText {
    font-size: 8px;
    color: azure;
}

.mainText {
    
    font-size: inherit;
    font-weight: 700;
    color: rgb(216, 216, 182);
}

mark {
    background-color: #ce1414 oblique;
}

#introPara {
    height: 580px;
    max-width: 570px;
    position: relative;
    bottom: 130px;
    right: 2px;
    text-align: left;
    border: 2px;
}



#tipsTricks {
    /* background-image: url(charImg.jpg); */
    height: 370px;
    max-width: 570px;
    position: relative;
    bottom: 105px;
    right: 2px;
    text-align: center;
    border: 2px;
}

#contactSection {
    height: 15px;
    width: auto;
    border: solid #73AD21 1px;
    
}



.logo {
    position: relative;
    image-rendering: optimizeQuality;
    max-height: 80px;
    max-width: 80px;
    left: 90px;
    
    object-fit: contain;
    
}

.titleImg {
    position: relative;
    left: 750px;
    bottom: 80px;
    image-rendering: optimizeQuality;
    max-height: 120px;
    max-width: 80px;
    object-fit: contain;
    
}



.thbImg {
    /*h+w*/
    color: darkcyan;
    
}

section {
    float: left;
}

aside {
    float: right;
}

.relative {
        float: left;
        position: relative;
        left: 150%;
        border: 3px solid #73AD21;
      }
    
#images {
    position: relative;
    left: 318px;
    top: 400px;
    height: 220px;  
    width: 220px;
    margin: 1px;
    padding: 10px;
    border: 2px;

}

#images2 {
    position: relative;
    left: 318px;
    bottom: 300px;
    height: 220px;  
    width: 220px;
    margin: 1px;
    padding: 10px;
    border: 2px;
}

#imagesCollage {
    position: relative;
    left: 210px;
    bottom: 730px;
    height: 400px;  
    width: 350px;
    margin: 1px;
    padding: 10px;
    border: 2px;
    /* content: url(unrealPoke.jpg); */
}

#imagesCollage2 {
    position: relative;
    left: 312px;
    bottom: 750px;
    height: 220px;  
    width: 220px;
    margin: 1px;
    padding: 10px;
    border: 2px;
    /* content: url(unrealDragons2.png); */
}

#imagesSoftOne {
    position: relative;
    right: 0px;
    bottom: 45px;
    border: 2px;
    width: 300px; height: 175px;
    object-fit: contain;

}

#imagesSoftTwo {
    position: relative;
    right: 150px;
    top: 20px;
    border: 2px;
    width: 450px; height: 235px;
    
    object-fit: contain;

}
.scaleContent {
    
    contain: content;
    max-width: auto;
    max-height: auto;
    justify-content: center;
    /* object-fit: contain; */
    
}
.scaleContentWidget {
    
    contain: content;
    max-width: 80px;
    max-height: 80px;
    justify-content: center;
    object-fit: contain;
    
}
/*miniSlideshow*/
.fling-minislide {widows:520px; height:300px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 60s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:10s;}
.fling-minislide img:nth-child(2){animation-delay:20s;}
.fling-minislide img:nth-child(1){animation-delay:30s;}

/*miniSlideshow2*/
.fling-minislide2 {widows:520px; height:300px; overflow:hidden; position:relative; }
.fling-minislide2 img{ position:absolute; animation:fling-minislide 30s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide2 {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide2 img:nth-child(4){animation-delay:0s;}
.fling-minislide2 img:nth-child(3){animation-delay:10s;}
.fling-minislide2 img:nth-child(2){animation-delay:20s;}
.fling-minislide2 img:nth-child(1){animation-delay:30s;}

/*miniSlideshow3*/
.fling-minislide3 {widows:520px; height:300px; overflow:hidden; position:relative; }
.fling-minislide3 img{ position:absolute; animation:fling-minislide 30s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide3 {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide3 img:nth-child(4){animation-delay:5s;}
.fling-minislide3 img:nth-child(3){animation-delay:10s;}
.fling-minislide3 img:nth-child(2){animation-delay:20s;}
.fling-minislide3 img:nth-child(1){animation-delay:30s;}

 



/*Nav Bar*/
#pageNav {
    position: relative;
    bottom: 150px;
    display: flex;
    float: right;
    max-height: 30px;
    width: 650px;
    /*border: solid #73AD21;*/
    justify-content: space-evenly;    
    flex-direction: row-reverse;
}
/*search bar*/
